@font-face {
  font-family: "archivo";
  src: url("../assets/Archivo-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "martianmono";
  src: url("../assets/MartianMono-VariableFont_wdth\,wght.ttf")
}

:root {
  --zwart: #222226;
  --grijs: #666666;
  --wit: #FFFFFF;
  --blauw: rgb(54, 75, 247);

  --spacing: 16px;
  --middle-spacing: 24px;
  --large-spacing: 48px;

  --border: 1px solid black;
}




/* @media (width > 1080px) {
:root {
  --border: 1px solid black;
} */
/* } */



/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* < Goeie om nog te onderzoeken */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* hele document */
body {
  /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
  margin: var(--spacing);
  border: var(--border);
}

header {
  padding: var(--large-spacing) var(--spacing) 0;

  /* links in class header */
  .nav a {
    color: var(--zwart);
  }
}

a {
  text-decoration: none;
  font-family: "martianmono";
  text-transform: uppercase;
  font-size: 1em;
}


a.blauwe-link {
  color: var(--blauw);
}

nav {
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    gap: 1em;
  }

}

.left-container {
  display: flex;
  gap: var(--large-spacing);

  .nav {
    padding-top: var(--spacing);
  }
}

.right-container {
  padding-top: var(--spacing);
}

section.heading {
  display: flex;
  flex-direction: column;
  padding-top: var(--large-spacing);
  max-width: 56.25em;
  /* is 900px */
  text-align: center;
  margin: auto;

  h1 {
    padding-top: var(--spacing);
    font-family: "archivo";
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .header {
    /* terug naar home <a> */
    font-family: "archivo";
    font-size: 1.5em;
    text-transform: none;
    line-height: 2.5em;
    padding-top: var(--spacing);
  }

  a.header {
    text-transform: uppercase;
    font-family: "martianmono";
  }
}


/* section p1 */
.trending {
  display: grid;
  margin-top: var(--large-spacing);
  grid-template-columns: repeat(1, 1fr);
  border-top: var(--border);
  border-bottom: var(--border);
}

@media (width > 32em) {
  .trending {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 48em) {
  .trending {
    grid-template-columns: repeat(3, 1fr);
  }
}

.event-item {
  padding: var(--large-spacing);

  &>img {
    width: 100%;
    aspect-ratio: 374/416;
    object-fit: cover;
  }

  h3 {
    hyphens: auto;
  }

  &+.event-item {
    border-left: var(--border);
  }
}

article {
  display: flex;
  flex-direction: column;

  .label {
    margin-top: var(--middle-spacing);
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .data {
    margin-top: var(--spacing);
  }

  h3 {
    margin-top: var(--spacing);
  }

  .blauwe-link {
    display: block;
    margin-top: 3.5em;
  }
}


section.search {
  display: flex;
  justify-content: space-between;
  padding: var(--large-spacing);
  border-bottom: var(--border);
}

section.list-item {
  padding: var(--spacing) var(--large-spacing) 0;

  li {
    border-bottom: var(--border);
    padding-bottom: 2em;
  }

  li:last-child {
    border-bottom: 0em solid;
  }

  .label {
    margin-top: 2em;
  }

  h4 {
    margin-top: var(--spacing);
  }

  .data {
    margin-top: var(--spacing);
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

}

.extra {
  padding: 4.875em 0 4.875em 0;
  /*  78px */
  border-top: var(--border);
  border-bottom: var(--border);
  text-align: center;
}

section.past {
  margin: var(--large-spacing);

  li {
    border-bottom: var(--border);
    padding-bottom: 2em;
  }

  li:last-child {
    border-bottom: 0px solid;
    padding-bottom: 0px;
  }

  .label {
    margin-top: 2em;
    margin-bottom: var(--spacing);
  }

  p.data {
    margin-top: var(--spacing);
  }

  p {
    margin-top: var(--spacing);
  }

  p.verleden {
    color: var(--blauw);
  }

  a {
    margin-top: var(--spacing);
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);

    .right {
      margin-left: auto;
      margin-top: var(--spacing);
    }
  }

}

section.up2date {
  display: flex;
  justify-content: space-between;
  padding: var(--large-spacing);
  border-bottom: var(--border);
  align-items: center;

  h3 {
    font-family: "archivo";
    font-size: 2em;
    line-height: 2.5em;
    text-transform: none;
    font-weight: normal;
  }
}

section.dank {
  display: flex;
  justify-content: space-between;
  padding: var(--large-spacing);
  border-bottom: var(--border);
  align-items: center;

  h3 {
    font-family: "archivo";
    font-size: 2em;
    line-height: 2.5em;
    text-transform: none;
    font-weight: normal;
  }
}

.logos {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  height: 150px;

  img {
    height: 150px;
    border-right: var(--border);
  }

  img:last-child {
    border-right: 0px solid;
  }
}


footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-top: var(--border);
  border-bottom: var(--border);

  .left {
    grid-column: 1 / 2;
    padding: var(--large-spacing);
    border-right: var(--border);

    #logo {
      display: block;
      align-items: start;
    }

    a {
      display: block;
      margin-top: 56px;
    }
  }

  .footer {
    grid-column: 2;
    padding: var(--large-spacing);
    border-right: var(--border);

    a {
      font-family: "archivo";
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      text-decoration: underline;
      color: var(--zwart);
    }
  }

  .right {
    grid-column: 3;
    padding: var(--large-spacing);

    a,
    p {
      font-family: "archivo";
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      color: var(--zwart);
    }

    .contact {

      a,
      p {
        text-decoration: underline;
      }
    }
  }
}


section.bottom {
  display: flex;
  justify-content: space-between;
  margin: var(--middle-spacing) var(--large-spacing) var(--middle-spacing);

  a,
  p {
    font-family: "archivo";
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: var(--zwart);
  }

  a {
    text-decoration: underline;
  }
}


.label {
  font-weight: light;
  border: var(--border);
  padding: 4px;
  width: fit-content;
}

h3 {
  font-family: "archivo";
  font-size: 48px;
  text-transform: uppercase;
}

h4 {
  font-family: "archivo";
  font-size: 32px;
  font-weight: 300;
}

p {
  font-family: "martianmono";
  font-size: 16px;
  text-transform: uppercase;
  /* hoofdletters */
}

li {
  list-style-type: none;
}


@media (width < 361px) {
  body {
    width: 360px;
    border: none;
    margin: 0;
  }

  /* header */

  section.heading {
    h1 {
      font-size: 3em;
    }

    a.header {
      font-size: 1em;
      padding: 12px;
    }

    p.header {
      font-size: 1em;
      line-height: 2em;
      margin-top: var(--spacing);
    }
  }

  section.trending {
    border-top: none;
    border-bottom: none;
    border-left: none;

    .event-item {
      border-left: none;
      border-top: var(--border);
      padding: 1.5em;
    }

    .event-item:last-child {
      border-bottom: var(--border);
    }

    h3 {
      font-size: 2em;
    }
  }

  section.search {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    align-items: center;
    gap: 1em;
  }

  section.list-item {
    padding: 1.5em;

    h4 {
      font-size: 24px;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  section.past {
    margin: 4em 1.5em 3em;

    h3 {
      font-size: 2em;
      font-weight: semibold;
    }
  }
}