@font-face {
  font-family: "archivo";
  src: url("../assets/Archivo-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "martianmono";
  src: url("../assets/MartianMono-VariableFont_wdth\,wght.ttf")
}

:root {
  --zwart: #222226;
  --grijs: #666666;
  --wit: #FFFFFF;
  --blauw: rgb(54, 75, 247);
  --spacing: 16px;
  --large-spacing: 48px;
  --border: 1px solid black;
}

@media (max-width: 750px) {
  :root {
    --spacing: 8px;
  }
}

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* < Goeie om nog te onderzoeken */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* hele document */
body {
  /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
  margin: var(--spacing);
  border: var(--border);
}

header {
  padding: var(--large-spacing) var(--spacing) 0;

  /* links in class header */
  .nav a {
    color: var(--zwart);
  }
}

a {
  text-decoration: none;
  font-family: "martianmono";
  text-transform: uppercase;
  font-size: 16px;
}


a.blauwe-link {
  color: var(--blauw);
}

nav {
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    gap: 1em;
  }

}

.left-container {
  display: flex;
  gap: var(--large-spacing);

  .nav {
    padding-top: var(--spacing);
  }
}

.right-container {
  padding-top: var(--spacing);
}

section.heading {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  max-width: 900px;
  text-align: center;
  margin: auto;

  h1 {
    padding-top: var(--spacing);
    font-family: "archivo";
    font-size: 96px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .header {
    font-family: "archivo";
    font-size: 24px;
    text-transform: none;
    line-height: 40px;
    padding-top: var(--spacing);
  }

  a.header {
    text-transform: uppercase;
    font-family: "martianmono";
  }
}


/* section p1 */
.trending {
  display: grid;
  margin-top: var(--large-spacing);
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--border);
  border-bottom: var(--border);
}

.event-item {
  padding: var(--large-spacing);

  &>img {
    width: 100%;
    aspect-ratio: 374/416;
    object-fit: cover;
  }

  h3 {
    hyphens: auto;
  }

  &+.event-item {
    border-left: var(--border);
  }
}

article {
  display: flex;
  flex-direction: column;

  .label {
    margin-top: 24px;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .data {
    margin-top: var(--spacing);
  }

  h3 {
    margin-top: var(--spacing);
  }

  .blauwe-link {
    display: block;
    margin-top: 56px;
  }
}


section.search {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  padding: var(--large-spacing);
  border-bottom: var(--border);
}

section.list-item {
  padding: 16px var(--large-spacing) 0;

  li {
    border-bottom: var(--border);
    padding-bottom: 32px;
  }

  li:last-child {
    border-bottom: 0px solid;
  }

  .label {
    margin-top: 32px;
  }
  
  h4 {
    margin-top: var(--spacing);
  }
  
  .data {
    margin-top: var(--spacing);
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

}

section.extra { 
  padding: 78px 0 78px 0;
  border-top: var(--border);
  border-bottom: var(--border);
  text-align: center;
}

section.past {
    margin: 48px;
    
    h3 {
    margin: 24px 0 40px 0;
    }
    
    li {
      border-bottom: var(--border);
      padding-bottom: 32px;
    }

    li:last-child {
      border-bottom: 0px solid;
      padding-bottom: 0px;
    }

    .label {
      margin-top: 32px;
      margin-bottom: 16px;
    }
    
    p.data {
      margin-top: var(--spacing);
    }
    p {
      margin-top: var(--spacing);
    }
    a {
      margin-top: var(--spacing);
    }

}

.label {
  font-weight: light;
  border: var(--border);
  padding: 4px;
  width: fit-content;
}

h3 {
  font-family: "archivo";
  font-size: 48px;
  text-transform: uppercase;
}

h4 {
  font-family: "archivo";
  font-size: 32px;
}

p {
  font-family: "martianmono";
  font-size: 16px;
  text-transform: uppercase;
  /* hoofdletters */
}



li {
  list-style-type: none;
}

footer {
  display: flex;
}